<ul class="nav">
    <li class="@@if (title === 'whln'){active}">
        <a href="./whln.html">
            文化理念
        </a>
    </li>
    <li class="@@if (title === 'home'){active}">
        <a href="./culture.html">
            文化动态
        </a>
    </li>
    <li class="@@if (title === 'byfc'){active}"><a href="./byfc.html">榜样风采</a></li>
    <li class="@@if (title === 'ghsw'){active}"><a href="./ghsw.html">国合书屋</a></li>
    <li class="@@if (title === 'zxr'){active}"><a href="./zxr.html">中心人</a></li>
    <li class="@@if (title === 'jlck'){active}"><a href="./jlck.html">交流参考</a></li>
</ul>